.signup {
  display: block;
  width: 100%;
  height: 65vh;
  max-width: 40rem;
  margin: 14.3rem 0 5rem 0;
  border: none;
  background-color: #f1e6d1;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup .wrap {
  padding: 2rem;
}

.signup .wrap h2 {
  font-size: 3rem;
  line-height: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2rem;
  margin: 6rem auto;
  padding: 0;
  text-align: center;
  display: block;
  width: 100%;
  color: #3bcfb2;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup .wrap .formWrap {
  margin: 3rem auto 0;
}
