.directory {
  height: 100%;
  .wrap {
    display: inline-block;
    width: 100%;
    height: 90vh;

    .item {
      border: 2px solid #fff;
      margin-top: 3rem;
      position: relative;
      width: 48%;
      height: 98%;
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      a {
        position: absolute;
        z-index: 2;
        background: rgba(245, 245, 245, 0.856);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: #007873;
        letter-spacing: 2rem;
        font-weight: 700;
        text-align: center;
        font-size: 3rem;
        line-height: 5.2rem;
        padding: 1rem 17.2rem;
        text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }
}
