.header {
  height: 6.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header .wrap {
  position: relative;
  height: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.header .wrap .logo {
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.header .wrap .logo img {
  display: block;
  width: 100%;
  margin: 0;
}
