@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&display=swap");
html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 300;
}

h1 {
  font-weight: 100;
}

* ::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
a:hover {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.main {
  width: 100%;
  height: calc(100% - 6.5rem);
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}
