.formRow {
  input {
    display: block;
    width: 100%;
    padding: 10px 2px;
    margin: 30px 0;
    font-size: 2rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    opacity: 0.6;
    font-weight: 100;

    &:last-child {
      margin-bottom: 35px;
    }
  }
}
